@import "tailwindcss";

:root {
  --background: #f4f1eb;
  --foreground: #0D141FFF;
  --background-secondary: #161528;
  --background-tertiary: #fff;
}


.dark {
  --background: #0D141FFF;
  --foreground: #f4f1eb;
  --background-secondary: #302e3c;
  --background-tertiary: #302e3c;
}

@theme {
  --color-white: #f4f1eb;
  --color-primary: #BE99F2;
  --color-background-secondary:  var(--background-secondary);
  --color-background-tertiary: var(--background-tertiary);
}  


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black: #0D141FFF;
  --color-white: #f4f1eb;
  --color-background-secondary: var(--background-secondary);
  --color-background-tertiary: var(--background-tertiary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



@font-face {
  font-family: 'Throne';
  src: url('/fonts/Throne.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.font-title {
   font-family: 'Throne';
} 

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
  transition:
  background-color 300ms ease,
  color 300ms ease;
}